@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*#ee7752, #e73c7e, #23a6d5, #23d5ab
#ee7652d7, #e73c7ebe, #23a5d5b9, #23d5abc4*/
html,
body {
  margin: 0;
  width:100vw;
  height:100vh;
  overflow-x: hidden;
  min-width: 1200px;
  font-family: 'Noto Sans KR', sans-serif;
  background: linear-gradient(-30deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradientBG 10s ease infinite;
  scroll-behavior: smooth;
}
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
body::-webkit-scrollbar {
  width: 20px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-radius: 10px;
  border: 5px solid transparent;
}

a {text-decoration: none; text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);}
a:link {color : white;}
a:visited {color : white;}
a:hover {color : white;}
a:active {color : white}
p {text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);}

.header_bar {
  margin: 15px;
  position: fixed;
  top: 0;
  font-size: 20px;
  color: white;
}

.side_bar {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 40%;
  left: 10px;
}

.side_elem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side_elem > a {
  font-size: 1.2em;
  color: white;
  transition: 0.3s;
}

.side_elem > a:hover {
  padding-bottom: 10px;
  font-size: 1.5em;
}

.hello_box {
  margin: 0;
  overflow: hidden;
  position: static;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hello_elem {
  margin: 0;
  padding: 0;
  width: 50%;
  min-width: 800px;
  height: 50%;
  min-height: 500px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
}

.hello_elem > img {
  margin: 0;
  width: 25%;
  min-width: 300px;
  position: absolute;
  top: -30%;
}

.emoji_glasses {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.emoji_glasses:hover{
  opacity: 1;
}

.hello_elem > p {
  margin: 0;
  padding: 0;
  position: block;
  color: white;
  text-align: center;
}

.hello_title {
  color: white;
  font-family: 'Vibur';
  font-size: 10em;
}

.hello_subtitle {
  color: white;
  font-size: 1.0em;
}

.bottom_bar_wrap {
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 10;
}

.bottom_bar {
  margin: 0px;
  padding: 0px;
  width: 30%;
  min-width: 400px;
  height: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
}

.bottom_bar_wrap:hover {
  padding-bottom: 10px;
}

.info_wrap {
  position: static;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_box {
  margin: 50px 0 50px 0;
  padding: 50px 0 50px 0;
  overflow: hidden;
  width: 50%;
  min-width: 800px;
  min-height: 300px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
}

.title {
  margin: 0 0 30px 0;
  color: white;
  font-size: 5em;
}

.text {
  margin: 0;
  color: white;
  font-size: 1.0em;
}

.cat_img {
  margin-bottom: 30px;
  width: 100%;
  height: 200px;
  background: url("source/cat_background_img.png");
  background-size: auto 200px;
  animation: gradientBG 20s ease infinite;
}

.context_container {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.context_container > img {
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
}

.button {
  width: 150px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}